@font-face {
    font-family: 'MONO';
    src: url('MONO.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }  

.custom-audio-player {
    width: 630px;
    font-family: 'MONO';
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 10px;
    border: 1px solid #444;
    border-radius: 8px;
    background-color: #333;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.control-button {
    height: 60px;
    width: 60px;
    align-items: center;
    padding: 5px;
    text-align: left;
    font-family: 'MONO';
    font-size: 18px;
    background-color: #55555554;
    color: white;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 5px;
}

.control-button img {
    max-height: 50px;
}

.control-button:hover {
    background-color: rgba(207, 207, 207, 0.349);
    transform: scale(1.1);
}

.timestamp {
    font-size: 16px;
    color: rgb(255, 255, 255);
}

.progress-container {
    width: 150px;
    height: 10px;
    background-color: #666;
    border-radius: 4px;
    position: relative;
    overflow: hidden;
}

.progress-bar {
    height: 100%;
    background-color: rgb(255, 255, 255);
    width: 0;
    position: absolute;
    top: 0;
    left: 0;
    transition: width 0.1s ease;
}

.volume-slider {
    width: 80px;
    background: rgba(160, 160, 160, 0.767);
    height: 10px;
    border-radius: 15px;
    -webkit-appearance: none;
    appearance: none;
    outline: none;
    opacity: 0.7;
}

.volume-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: rgb(255, 255, 255);
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.5s ease;
}

.volume-slider::-webkit-slider-thumb:hover {
    transform: scale(1.09);
}

.audio-player {
    display: none;
}

.playlist {
    font-family: 'MONO';
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.song {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.song img{
    border-radius: 5px;
    max-width: 250px;
}