@font-face {
    font-family: 'MONO';
    src: url('MONO.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.centering {
    margin: 10px;
    text-align: center;
}

button {
    width: 300px;
    font-family: 'MONO';
    background-color: #1d1d1d;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    transition: color 0.3s ease, transform 0.3s ease;
}

button:hover {
    background-color: #272727;
    transform: scale(1.05);
}

.hidden {
    display: none;
}

#terminal {
    font-family: 'MONO';
    width: 70%;
    height: 300px;
    background-color: #111;
    border: 2px solid #444;
    border-radius: 5px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}

.terminal-header {
    text-align: center;
    padding: 5px 10px;
    padding-bottom: 10px;
    border-bottom: 2px solid #444;
    color: #0f0;
}

.terminal-body {
    padding: 10px;
    color: #0f0;
    font-size: 12px;
    max-height: 250px;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

#terminal-input {
    font-family: 'MONO';
    width: 100%;
    background: none;
    border: none;
    color: #0f0;
    font-size: 13px;
    outline: none;
}

.log {
    font-family: 'MONO';
    width: 75%;
    background-color: #636363;
    color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    margin-top: 20px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    z-index: 1000;
}

.log-content {
    margin-top: 25px;
    margin-left: 25px;
    position: relative;
    text-align: left;
}

.close {
    font-family: 'MONO';
    position: absolute;
    top: -40px;
    right: 5px;
    font-size: 65px;
    cursor: pointer;
    color: #000;
    transition: transform 0.3s ease;
}

.close:hover {
    transform: scale(1.1);
    font-weight: bolder;
}


/* Styles pour l'interface des archives */
.archiveInterface {
    font-family: 'MONO';
    color: #ffffff;
    background-color: #111;
    border: 2px solid #444;
    margin: 10px;
    padding: 5px;
    border-radius: 8px;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.archive-header {
    font-size: 20px;
    text-align: center;
    padding: 5px 10px;
    padding-bottom: 10px;
    border-bottom: 2px solid #444;
    color: rgb(255, 255, 255);
}


.folder-centering {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.folder-btn {
    max-width: 150px;
    max-height: 130px;
    gap: 10px;
    padding: 3px;
    border-radius: 4px;
}

.folder-btn:hover {
    background-color: #303030;
    transform: scale(1.08);
}

.folder-btn:hover img {
    content: url(../images/icons/open_folder.png)
}

.folder-icon {
    max-height: 80%;
}

/* Style pour l'affichage de l'archive sélectionnée */
.archive {
    font-family: 'MONO';
    width: 75%;
    background-color: #ffffff;
    color: #000000;
    padding: 20px;
    margin-top: 20px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    z-index: 1000;
}

.archive-content {
    margin-top: 25px;
    margin-left: 25px;
    position: relative;
    text-align: left;
}

.tampon {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
}

.tampon img {
    max-width: 200px;
}