@font-face {
    font-family: 'MONO';
    src: url('MONO.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #121212;
    color: #fff;
    margin: 0;
    padding: 0;
}

.tableau {
    background-color: gold;
    width: 75%;
    margin: auto;
    padding: 15px;
    border-radius: 10px;
    display: flex;
}
    

table {
    background-color: black;
    font-family: MONO;
    color: white;
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #222;
    padding: 7px;
    text-align:left ;
}

td:hover {
    font-style: italic;
    cursor: pointer;
}

th {
    font-weight: normal;
    background-color: #333;
    text-align:center ;
    font-size: 150%;
    width: 100px;
}

.First-Law {
    text-align:center ;
    font-size: 110%;
}

.allowed {
    background-color: #4caf50;
    text-align:center ;
}

.not-allowed {
    background-color: #f44336;
    text-align:center ;
}

.not-applicable {
    background-color: #0084ff; 
    text-align:center ;
}

.variable {
    background-color: #ff7700; 
    text-align:center ;
}
